{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block content %}
      {% if offers %}
          <h2 class="sub-header">Offers on your Ewaste</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Bought on</th>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>Points Offered</th>
                  <th>Ecom</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              {% for offer in offers %}
                <tr>
                  <td>{{ offer.waste.bought_on }}</td>
                  <td><img src="{{ offer.waste.pic.url }}" height="50px "></td>
                  <td>{{ offer.waste.name }}</td>
                  <td>{{ offer.points }}</td>
                  <td>{{ offer.ngo.name }}</td>
                  <td style="color:rgb(0, 240, 0)"><a href="/user/accept/{{ offer.id }}/">Accept Offer</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
    {% else %}
      <h3> No offers are currently available. Please upload more electronics to sell.</h3>
    {% endif %}
{% endblock %}
