hi
USER URLS<br>
<br>{{ userprofile.email }}
<br>{{ userprofile.points }} points<br>
<a href="/logout">Logout</a>

<br><br>
<a href="/user/add">Add your ewaste</a><br>
<a href="/user/view">Add your ewastes</a><br>
<a href="/user/viewoffers">Add offers on your ewaste</a><br>
<a href="/user/viewproducts">Add products to buy</a>



<br><br><br><br>


{% if userprofile.isNgo %}
NGO URLS<br>
<a href="/ngo/view/">View waste</a> 
{% endif %}

<br><br><br><br>
{% if userprofile.isEcom %}
ECOM URLS<br>
<a href="/ecom/add/">Add a product to sell</a> <br>
<a href="/ecom/view/">View your products</a> 
{% endif %}
